.button {
  background: #3885CD;
  border: none;
  border-radius: 1vw;
  color: white;
  font-family: "Effra_Std_Rg";
  font-size: 4.3vw;
  grid-column: 2;
  grid-row: 2;
  height: 12vw;
  margin: 50vw 0 0 3.5vw;
  width: 37vw;
  z-index: 2;
}