@font-face {
  /* Bold */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  /* Light */
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  /* Medium */
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
  /* Regular */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
}

/* MOBILE (xs)  */
@media screen and (max-width: 600px) {

  .grid-container-chhn {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    margin-bottom: -220.5vw;
    overflow: hidden;
  }
  .grid-container-chhn > div {
    font-family: "Effra_Std_Rg";
    font-size: 24px;
    text-align: left;
  }
  .image-chhn {
    grid-column: 2; 
    grid-row: 1;
    margin: 10vw 0 0 9vw;
    overflow: hidden;
    z-index: 2;
  }
  .image-bg-chhn {
    float: right;
    grid-column: 1 / -1; 
    grid-row: 1;
    margin: 0 0 20vw -188vw;
    width: 352vw;
  }
  .content-chhn {
    color: white;
    grid-column: 2;
    grid-row: 1;
    margin: 97vw 0 0 4vw;
    z-index: 2;
  }
  .title-chhn {
    font-weight: bold;
    font-size: 7vw;
    width: 70vw;
  }
  .subtitle-chhn {
    font-size: 3.5vw;
    text-transform: uppercase;
    margin-top: -4vw;
  }
  .body-chhn {
    font-size: 4.5vw;
    line-height: 1.5;
    margin-top: 8.5vw;
  }
  #button-chhn {
    background: #FFFFFF;
    border: none;
    border-radius: 1vw;
    color: black;
    font-size: 4.3vw;
    font-weight: bolder;
    height: 12vw;
    margin-top: 3vw;
    width: 37vw;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 960px) {
  .grid-container-chhn {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-column-gap: 15px;
    overflow: hidden;
  }
  .grid-container-chhn > div {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 5vw;
    text-align: left;
  }
  .image-chhn {
    float: left;
    grid-column: 2; 
    grid-row: 1;
    margin: -3vw 0 0 -14.8vw;
    position: relative;
    overflow: hidden;
    width: 60.5vw;
    z-index: 2;
  }
  .image-bg-chhn {
    grid-column: 1 / -1; 
    grid-row: 1;
    width: 100vw;
  }
  .content-chhn {
    grid-column: 3;
    grid-row: 1;
    margin-left: 2.3vw;
    z-index: 2;
  }
  .title-chhn {
    font-size: 2.4vw;
    margin: 10vw 0 0 0;
    width: 20vw;
  }
  .subtitle-chhn {
    text-transform: uppercase;
    font-size: 1.2vw;
    margin: 0.4vw 0 0 0;
  }
  .body-chhn {
    font-size: 1.7vw;
    margin: 2.3vw 0 0 0;
    line-height: 1.5;
    width: 30vw;
  }
  #button-chhn {
    background: #FFFFFF;
    border: none;
    border-radius: 0.4vw;
    color: black;
    font-size: 1.4vw;
    font-weight: bolder;
    height: 4vw;
    margin: 1vw 0 0 -10vw;
    width: 12vw;
  }
}
