@font-face {
  /* Main font-family */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
  
  /* Additional font families */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* Grid */
  .grid-container-clients {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: -10px;
    grid-template-columns: 4vw 1fr 4vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: -31vw 0 -3.6vw 0;
  }
  .grid-container-clients > div {
    font-family: "Effra_Std_Rg";
    font-size: 5.5vw;
  }
  /* Styles */
  p.body-box-1 {
    font-size: 3.8vw;
    line-height: 1.5;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  p.subtitle-box-1 {
    margin: 13.4vw 0 7vw 0;
  }
  #box-1 { 
    background: #313540;
    color: white;
    grid-column: 2;
    grid-row: 1 / -3;
    grid-column: 2;
    height: 61.5vw;
    text-align: center;
  }
  #box-2, 
  #box-3, 
  #box-4, 
  #box-5, 
  #box-6, 
  #box-7 {
    border: solid 0.5vw;
    border-color: #F2F2F4;
    grid-column: 2;
    height: 24vw;
  }
  #box-2 { 
    grid-row: 3;
    margin-top: 5.4vw; 
  }
  #box-3 { 
    grid-row: 4;
    margin-top: 3.8vw; 
  }
  #box-4 { 
    grid-row: 5; 
    margin-top: 2.1vw;
  }
  #box-5 { 
    grid-row: 6; 
    margin-top: 0.5vw;
  }
  #box-6 { 
    grid-row: 7; 
    margin-top: -1vw;
  }
  #box-7 { 
    grid-row: 8; 
    margin-top: -2.6vw;
  }
  #img-fifththird, 
  #img-chhn, 
  #img-chs, 
  #img-skanska, 
  #img-rackroom, 
  #img-pg {
    align-content: center;
    margin-bottom: auto;
  }
  #img-fifththird {
    margin-top: 4.5vw;
    width: 52vw;
  }
  #img-chhn {
    margin-top: 5.5vw;
    width: 50vw;
  }
  #img-chs {
    margin-top: 3.5vw;
    width: 40vw;
  }
  #img-rackroom {
    margin-top: 3vw;
    width: 18vw;
  }
  #img-pg {
    margin-top: 7vw;
    width: 22vw;
  }
  #img-skanska {
    margin-top: 8vw;
    width: 40vw;
  }
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  /* Grid */
  .grid-container-clients {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 1.5vw;
    grid-template-columns: 6vw 1fr 1fr 1fr 1fr 6vw;
    grid-template-rows: repeat(2, 1fr 1fr);
    height: 5vw;
    justify-content: flex-start;
    margin: 0.5vw 0 43vw 0;
  }
  .grid-container-clients > div {
    font-family: "Effra_Std_Rg";
    height: 20vw;
    text-align: left;
  }
  /* Styles */
  p.body-box-1 {
    font-size: 1.35vw;
    line-height: 2.2vw;
    margin-left: 1.35vw;
    width: 27.5vw;
  }
  p.subtitle-box-1 {
    font-size: 2.3vw;
    margin-left: 6.5vw;
    margin-top: 3.9vw;
  }
  #box-1 {
    background: #313540;
    color: white;
    grid-column: 2 / -4;
    grid-row: 1;
  }
  #box-2, #box-3, #box-4, #box-5, #box-6, #box-7 {
    background: white;
    border: solid 0.2vw;
    border-color: #F2F2F4;
  }
  #box-2 {
    grid-column: 4;
    grid-row: 1;
  }
  #box-3 {
    grid-column: 5;
    grid-row: 1;
  }
  #box-4 {
    grid-column: 2;
    grid-row: 2;
    margin-top: 1.5vw;
  }
  #box-5 {
    grid-column: 3;
    grid-row: 2;
    margin-top: 1.5vw;
  }
  #box-6 {
    grid-column: 5;
    grid-row: 2;
    margin-top: 1.5vw;
  }
  #box-7 {
    grid-column: 4;
    grid-row: 2;
    margin-top: 1.5vw;
  }
  #img-chhn {
    margin-left: 3vw;
    margin-top: 8vw;
    width: 15vw;
  }
  #img-chs {
    margin-left: 3vw;
    margin-top: 7vw;
    width: 14vw;
  }
  #img-fifththird {
    margin-left: 2.3vw;
    margin-top: 7.5vw;
    width: 15vw;
  }
  #img-pg {
    margin-left: 4.2vw;
    margin-top: 7.5vw;
    width: 10.7vw;
  }
  #img-rackroom {
    margin-left: 4.5vw;
    margin-top: 5vw;
    width: 10vw;
  }
  #img-skanska {
    margin-left: 2vw;
    margin-top: 8.7vw;
    width: 16vw;
  }
}
