@font-face {
  /* Bold */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  /* Light */
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  /* Medium */
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
  /* Regular */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
}

.grid-container-clients {
  display: grid;
  grid-template-columns: 90px 1fr 1fr 1fr 1fr 90px;
  grid-column-gap: 15px;
  grid-template-rows: repeat(2, 1fr 1fr);
  grid-auto-flow: row;
  justify-content: flex-start;
  margin-bottom: -35%;
}
.grid-container-clients > div {
  font-size: 24px;
  height: 315px;
  text-align: left;
  font-family: "Effra_Std_Rg";
}

#box-1 {
  background: #313540;
  color: white;
  grid-column: 2 / -4;
  grid-row: 1;
}
#box-2 {
  border: solid 0.05px;
  grid-column: 4;
  grid-row: 1;
}
#box-3 {
  border: solid 0.05px;
  grid-column: 5;
  grid-row: 1;
}
#box-4 {
  border: solid 0.05px;
  grid-column: 2;
  grid-row: 2;
  margin-top: 20px;
}
#box-5 {
  border: solid 0.05px;
  grid-column: 3;
  grid-row: 2;
  margin-top: 20px;
}
#box-6 {
  border: solid 0.05px;
  grid-column: 4;
  grid-row: 2;
  margin-top: 20px;
}
#box-7 {
  border: solid 0.05px;
  grid-column: 5;
  grid-row: 2;
  margin-top: 20px;
}

#img-fifththird, #img-chhn, #img-chs, #img-skanska, #img-rackroom, #img-pg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
}
#img-rackroom, #img-pg {
  width: 60%;
}
.box-1-body {

  padding-left: 15%;
  width: 58%;
  font-size: 16px;

}
.box-1-title {
  padding-top: 5%;
  padding-left: 15%;
}