@font-face {
  /* Bold */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  /* Light */
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  /* Medium */
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
  /* Regular */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
}

/* MOBILE (xs)  */
@media screen and (max-width: 600px) {
  .grid-container-clients {
    display: grid;
    grid-template-columns: 4vw 1fr 4vw;
    grid-column-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-auto-flow: row;
    justify-content: flex-start;
    margin-top: -25vw;
    /* margin-bottom: -32.5vw; */
  }
  .grid-container-clients > div {
    font-family: "Effra_Std_Rg";
    font-size: 24px;
    text-align: center;
  }
  #box-1 { 
    background: #313540;
    color: white;
    grid-column: 2;
    grid-row: 1 / -3;
    grid-column: 2;
    height: 52.5vw;

    margin-bottom: 4.5vw;
    text-align: center;
  }
  #box-2, #box-3, #box-4, #box-5, #box-6, #box-7 {
    border: solid 0.5vw;
    border-color: #F2F2F4;
    height: 24vw;
    grid-column: 2;
  }
  #box-2 { 
    grid-row: 3; 
    /* margin-bottom: 1.5vw; */
  }
  #box-3 {  
    grid-row: 4;
    /* margin-top: -8vw; */
  }
  #box-4 { 
    grid-row: 5;
    /* margin-top: -16vw; */
  }
  #box-5 { 
    grid-row: 6;
    /* margin-top: -24vw; */
  }
  #box-6 {  
    grid-row: 7;
    /* margin-top: -32vw; */
  }
  #box-7 { 
    grid-row: 8;
    /* margin-top: -40vw;
    margin-bottom: -20vw; */
  }
  .box-1-title {
    font-size: 4.5vw;
    padding-top: 4vw;
  }
  p.box-1-body {
    font-size: 3.8vw;
    line-height: 1.5;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  #img-fifththird, #img-chhn, #img-chs, #img-skanska, #img-rackroom, #img-pg {
    align-content: center;
    margin-bottom: auto;
  }
  #img-fifththird {
    margin-top: 4.5vw;
    width: 52vw;
  }
  #img-chhn {
    margin-top: 5.5vw;
    width: 50vw;
  }
  #img-chs {
    margin-top: 3.5vw;
    width: 40vw;
  }
  #img-skanska {
    margin-top: 8vw;
    width: 40vw;
  }
  #img-rackroom {
    margin-top: 3vw;
    width: 18vw;
  }
  #img-pg {
    margin-top: 7vw;
    width: 22vw;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 960px) {
  .grid-container-clients {
    display: grid;
    grid-template-columns: 6vw 1fr 1fr 1fr 1fr 6vw;
    grid-column-gap: 1.5vw;
    /* grid-template-rows: repeat(2, 1fr 1fr); */
    grid-auto-flow: row;
    height: 5vw;
    justify-content: flex-start;
    margin-bottom: 46.3vw;
  }
  .grid-container-clients > div {
    font-family: "Effra_Std_Rg";
    font-size: 2vw;
    height: 20vw;
    text-align: left;
  }
  #box-1 {
    background: #313540;
    color: white;
    grid-column: 2 / -4;
    grid-row: 1;
  }
  #box-2, #box-3, #box-4, #box-5, #box-6, #box-7 {
    background: white;
    border: solid 0.2vw;
    border-color: #F2F2F4;
  }
  #box-2 {
    grid-column: 4;
    grid-row: 1;
  }
  #box-3 {
    grid-column: 5;
    grid-row: 1;
  }
  #box-4 {
    grid-column: 2;
    grid-row: 2;
    margin-top: 2vw;
  }
  #box-5 {
    grid-column: 3;
    grid-row: 2;
    margin-top: 2vw;
  }
  #box-6 {
    grid-column: 5;
    grid-row: 2;
    margin-top: 2vw;
  }
  #box-7 {
    grid-column: 4;
    grid-row: 2;
    margin-top: 2vw;
  }
  .box-1-title {
    margin-left: 6vw;
    margin-top: 3.4vw;
  }
  p.box-1-body {
    font-size: 1.4vw;
    line-height: 1.5;
    margin-left: 6vw;
    margin-top: -0.5vw;
    width: 28.5vw;
  }
  #img-fifththird, #img-chhn, #img-chs, #img-skanska, #img-rackroom, #img-pg {
    width: 18vw;
  }
  #img-fifththird {
    margin-left: 2.3vw;
    margin-top: 7vw;
    width: 15vw;
  }
  #img-chhn {
    margin-left: 3vw;
    margin-top: 8vw;
    width: 15vw;
  }
  #img-chs {
    margin-left: 3vw;
    margin-top: 7vw;
    width: 14vw;
  }
  #img-rackroom {
    margin-left: 4.5vw;
    margin-top: 5vw;
    width: 10vw;
  }
  #img-pg {
    margin-left: 4.2vw;
    margin-top: 8vw;
    width: 11vw;
  }
  #img-skanska {
    margin-left: 2vw;
    margin-top: 8.5vw;
    width: 16vw;
  }
}
