@font-face {
  /* Bold */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  /* Light */
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  /* Medium */
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
  /* Regular */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .grid-container-connect {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    margin-bottom: -196vw;
    overflow: hidden;
  }
  .grid-container-connect > div {
    color: black;
    font-family: "Effra_Std_Rg";
    font-size: 24px;
    text-align: center;
  }
  .content-connect {
    grid-column: 2;
    grid-row: 1;
    line-height: 2.5vw;
  }
  /* Styles */
  .color-background-connect {
    background: #E6E6E6;
    grid-column: 1 / -1; 
    height: 304.8vw;
    opacity: 0.85;
    position: relative;
  }
  .content-contact {
    margin: 25vw 0 0 0;
  }
  h1.title-connect {
    font-size: 7.5vw;
    margin: 14vw 0 0 0;
  }
  p.body-connect {
    font-size: 4.5vw;
    line-height: 1.75;
    margin: 5.2vw 0 0 12vw;
    width: 75vw;
  }
  p.subtitle-connect {
    font-family: "Effra_Std_Md";
    font-size: 4.8vw;
    font-weight: bolder;
    margin: 0 0 7vw 0;
  }
  p.subtitle-connect-2 {
    font-family: "Effra_Std_Md";
    font-size: 4.8vw;
    font-weight: bolder;
    margin: 15.5vw 0 7vw 0;
  }
  .button-submit-connect {
    background: #3885CD;
    border: none;
    border-radius: 1vw;
    color: white;
    font-family: "Effra_Std_Md";
    font-size: 4.4vw;
    font-weight: bolder;
    grid-column: 2;
    height: 12.9vw;
    margin: 6.5vw 0 0 0;
    width: 32vw;
  }
  #contact-parking {
    color: #579CD4;
    text-decoration: underline;
  }
  #contact-phone {
    color: black;
    font-weight: bolder;
    text-decoration: none;
  }
  #input-email {
    border-radius: 1vw;
    font-size: 4vw;
    height: 13vw;
    margin: 4vw 0 0 0;
    width: 90vw;
  }
  #input-name {
    border-radius: 1vw;
    font-size: 4vw;
    height: 13vw;
    margin: 11vw 0 0 0;
    width: 90vw;
  }
  #input-message {
    border-radius: 1vw;
    font-size: 4vw;
    height: 46vw;
    margin: 4vw 0 0 0;
    width: 90vw;
  }
  input::placeholder {
    padding-left: 5vw;
    /* padding-top: 5vw; */
  }
  #map {
    border: solid 0.2vw;
    border-radius: 1vw;
    margin: 8.3vw 0 3vw 0;
    width: 36vw;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 960px) {
  .grid-container-connect {
    /* display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-column-gap: 15px;
    grid-auto-flow: row;
    justify-content: flex-start;
    overflow: hidden; */
  }
  .grid-container-connect > div {
    /* color: white;
    font-family: "Effra_Std_Rg";
    font-size: 5vw;
    text-align: left; */
  }
  .image-connect {
    /* float: right;
    grid-column: 3; 
    grid-row: 1;
    margin: 5.8vw -22vw -15vw -17vw;
    position: relative;
    overflow: hidden;
    width: 81vw;
    z-index: 2; */
  }
  .image-bg-connect {
    /* background: #2F3D49;
    grid-column: 1 / -1; 
    grid-row: 1;
    width: 100vw; */
  }
  .content-connect {
    /* grid-column: 2;
    grid-row: 1;
    margin-left: 5vw;
    z-index: 2; */
  }
  .title-connect {
    /* font-size: 2.6vw;
    margin: 17.5vw 0 0 0; */
  }
  .subtitle-connect {
    /* text-transform: uppercase;
    font-size: 1.1vw;
    margin: 0.4vw 0 0 0; */
  }
  .body-connect {
    /* font-size: 1.7vw;
    margin: 2.3vw 0 0 0;
    line-height: 1.5;
    width: 30vw; */
  }
  #button-connect {
    /* background: #FFFFFF;
    border: none;
    border-radius: 0.4vw;
    color: black;
    font-family: "Effra_Std_Rg";
    font-size: 1.5vw;
    font-weight: bolder;
    height: 3.9vw;
    margin: 2.5vw 0 0 0;
    width: 12.5vw; */
  }
}