@font-face {
  /* Main font-family */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
  
  /* Additional font families */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* Grid */
  .grid-container-fifththird {
    display: grid;
    grid-template-columns: 5vw 1fr 15vw;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    margin-bottom: -196vw;
    overflow: hidden;
  }
  .grid-container-fifththird > div {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 24px;
    text-align: center;
  }
  .content-fifththird {
    grid-column: 2;
    grid-row: 1;
    margin-top: 107.5vw;
    z-index: 2;
  }
  /* Styles */
  h1.title-fifththird {
    font-family: "Effra_Std_Md";
    font-size: 7.3vw;
  }
  p.body-fifththird {
    font-size: 4.5vw;
    line-height: 1.55;
    margin: 8.5vw 0 0 5vw;
    width: 80vw;
  }
  p.subtitle-fifththird {
    font-size: 3.5vw;
    font-weight: bolder;
    margin: -4.5vw 0 0 0;
    text-transform: uppercase;
  }
  .button-fifththird {
    background: #FFFFFF;
    border: none;
    border-radius: 1vw;
    color: black;
    font-family: "Effra_Std_Md";
    font-size: 4.4vw;
    font-weight: bolder;
    height: 12.9vw;
    margin: 10vw 0 0 0;
    width: 38vw;
  }
  #image-fifththird {
    float: left;
    grid-column: 2; 
    grid-row: 1;
    margin: 15vw -12vw 0 -12vw;
    position: relative;
    overflow: hidden;
    width: 114vw;
    z-index: 2;
  }
  #image-bg-fifththird {
    background: #2F3D49;
    float: right;
    grid-column: 1 / -1; 
    grid-row: 1;
    height: 196vw;
    margin: -0.5vw 0 0 -25vw;
    overflow: hidden;
    width: 350vw;
  }
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  /* Grid */
  .grid-container-fifththird {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-column-gap: 15px;
    grid-auto-flow: row;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    margin: 0 0 -16.1vw 0;
  }
  .grid-container-fifththird > div {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 5vw;
    text-align: left;
  }
  .content-fifththird {
    grid-column: 2;
    grid-row: 1;
    margin-left: 5vw;
  }
  /* Styles */
  h1.title-fifththird {
    font-family: "Effra_Std_Md";
    font-size: 2.3vw;
    margin: 18vw 0 0 0;
  }
  p.body-fifththird {
    font-size: 1.7vw;
    margin: 2.3vw 0 0 0;
    line-height: 1.65;
    width: 30vw;
  }
  p.subtitle-fifththird {
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: bolder;
    margin: 0.6vw 0 0 0;
  }
  .button-fifththird {
    background: #FFFFFF;
    border: none;
    border-radius: 0.4vw;
    color: black;
    font-family: "Effra_Std_Md";
    font-size: 1.25vw;
    font-weight: bolder;
    height: 4vw;
    margin: 2.8vw 0 0 0;
    width: 11.8vw;
  }
  #image-bg-fifththird {
    background: #2F3D49;
    grid-column: 1 / -1; 
    grid-row: 1;
    width: 106.5vw;
  }
  #image-fifththird {
    float: right;
    grid-column: 3; 
    grid-row: 1;
    margin: 5vw -22vw 0 -17vw;
    position: relative;
    overflow: hidden;
    width: 88vw;
  }
}