@font-face {
  /* Bold */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  /* Light */
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  /* Medium */
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
  /* Regular */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
}

/* MOBILE (xs)  */
@media screen and (max-width: 600px) {
  .grid-container-fifththird {
    display: grid;
    grid-template-columns: 5vw 1fr 15vw;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    overflow: hidden;
  }
  .grid-container-fifththird > div {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 24px;
    text-align: center;
  }
  .image-fifththird {
    float: left;
    grid-column: 2; 
    grid-row: 1;
    margin: 15vw -12vw 0 -12vw;
    position: relative;
    overflow: hidden;
    width: 114vw;
    z-index: 2;
  }
  .image-bg-fifththird {
    background: #2F3D49;
    float: right;
    grid-column: 1 / -1; 
    grid-row: 1;
    height: 196vw;
    margin: 0 0 0 -25vw;
    overflow: hidden;
    width: 350vw;
  }
  .content-fifththird {
    grid-column: 2;
    grid-row: 1;
    margin-top: 108vw;
    z-index: 2;
  }
  .title-fifththird {
    font-size: 7.5vw;
  }
  .subtitle-fifththird {
    text-transform: uppercase;
    font-size: 3.5vw;
    margin-top: -5vw;
  }
  .body-fifththird {
    font-size: 4.5vw;
    line-height: 1.5;
    margin: 9vw 0 0 5vw;
    width: 80vw;
  }
  #button-fifththird {
    background: #FFFFFF;
    border: none;
    border-radius: 1vw;
    color: black;
    font-family: "Effra_Std_Rg";
    font-size: 4.3vw;
    font-weight: bolder;
    height: 12vw;
    margin: 10vw 0 0 0;
    width: 37vw;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 960px) {
  .grid-container-fifththird {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-column-gap: 15px;
    grid-auto-flow: row;
    justify-content: flex-start;
    overflow: hidden;
  }
  .grid-container-fifththird > div {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 5vw;
    text-align: left;
  }
  .image-fifththird {
    float: right;
    grid-column: 3; 
    grid-row: 1;
    margin: 5.8vw -22vw -15vw -17vw;
    position: relative;
    overflow: hidden;
    width: 81vw;
    z-index: 2;
  }
  .image-bg-fifththird {
    background: #2F3D49;
    grid-column: 1 / -1; 
    grid-row: 1;
    width: 100vw;
  }
  .content-fifththird {
    grid-column: 2;
    grid-row: 1;
    margin-left: 5vw;
    z-index: 2;
  }
  .title-fifththird {
    font-size: 2.6vw;
    margin: 17.5vw 0 0 0;
  }
  .subtitle-fifththird {
    text-transform: uppercase;
    font-size: 1.1vw;
    margin: 0.4vw 0 0 0;
  }
  .body-fifththird {
    font-size: 1.7vw;
    margin: 2.3vw 0 0 0;
    line-height: 1.5;
    width: 30vw;
  }
  #button-fifththird {
    background: #FFFFFF;
    border: none;
    border-radius: 0.4vw;
    color: black;
    font-family: "Effra_Std_Rg";
    font-size: 1.5vw;
    font-weight: bolder;
    height: 3.9vw;
    margin: 2.5vw 0 0 0;
    width: 12.5vw;
  }
}