/* @font-face {
  font-family: 'Effra';
  src: url('/assets/fonts') format('truetype');
} */


footer {
  background: #D3D2D3;
  display: flex;
  flex-direction: column;
  height: 4.5vw;
  /* margin-top is the feature that removes the white space between components */
  margin-top: -0.3vw;
  position: relative;
  width: 100%;
}
#logo-facebook, #logo-twitter {
  padding-left: 3vw;
  padding-top: 1.2vw;
}
#logo-google {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.7vw;
}
.content {
  flex: 1 0 auto;
  height: 100px;
}
.copyright {
  float: left;
  font-size: 0.8vw;
  padding-left: 8vw;
  padding-right: 52vw;
  padding-top: 1.7vw;
}

/* MOBILE (xs)  */
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    height: 35vw;
    margin-top: 95vw;
  }
  #logo-facebook {
    margin-top: 8vw;
    padding-left: 11vw;
    padding-top: 0;
    width: 3vw;
  }
  #logo-google {
    padding-left: 11vw;
    width: 7vw;
  }
  #logo-twitter {
    padding-left: 5vw;
    width: 7vw;
  }
  .copyright {
    font-size: 3.8vw;
    margin-top: 1vw;
    padding-top: 30px;
    width: 90vw;
  }
}
