#button-gojo {
  position: absolute;
  top: 135%;
  background: #3885CD;
  color: white;
  padding: 15px;
}
#color-background-gojo {
  background: #E6E6E6;
  width: 100%;    
  height: 9vw;
  margin-top: -0.3vw;
  opacity: 0.9;
  border: solid;
}
/* .body-gojo {
  position: absolute;
  left: 50%;
  top: 125%;
  color: #616161;
} */
.image-gojo {
  position: fixed;
  /* top: 98.5%; */
  /* left: 4vw; */
  height: 130%;
  /* padding-bottom: 60vw;  */
  top: 50vw;
}
.image-bg-gojo {
  position: absolute;
  left: 0vw;
  padding-bottom: 2vw;
}
.subtitle-gojo {
  position: absolute;
  top: 115%;
  left: 50%;
  text-transform: uppercase;
}
.title-gojo {
  position: absolute;
  left: 50%;
  top: 110%;
}
