@font-face {
  /* Main font-family */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
  
  /* Additional font families */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* Grid */
  .grid-container-gojo {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 1fr 1fr;
    margin-bottom: -141.4vw;
    overflow: hidden;
  }
  .grid-container-gojo > div {
    font-family: "Effra_Std_Rg";
    font-size: 24vw;
  }
  /* Styles */
  h1.title-gojo {
    grid-column: 2;
    grid-row: 2;
    font-family: "Effra_Std_Md";
    font-size: 7.3vw;
    font-weight: bolder;
    margin: 2vw 0 0 3.5vw;
    text-align: left;
    z-index: 2;
  }
  p.body-gojo {
    grid-column: 2;
    grid-row: 2;
    font-family: "Effra_Std_Rg";
    text-align: left;
    font-size: 4.5vw;
    margin: 23.5vw 0 0 3.5vw;
    line-height: 1.55;
    width: 80vw;
    z-index: 2;
  }
  p.subtitle-gojo {
    grid-column: 2;
    grid-row: 2;
    font-family: "Effra_Std_Rg";
    font-size: 3.5vw;
    font-weight: bolder;
    margin: 12.7vw 0 0 3.5vw;
    text-align: left;
    text-transform: uppercase;
    z-index: 2;
  }
  .button-gojo {
    background: #3885CD;
    border: none;
    border-radius: 1vw;
    color: white;
    font-family: "Effra_Std_Md";
    font-size: 4.4vw;
    grid-column: 2;
    grid-row: 2;
    height: 12.9vw;
    margin: 45vw 0 0 3.5vw;
    width: 38vw;
    z-index: 3;
  }
  #background-gojo {
    background: #E6E6E6;
    bottom: 195.4vw; 
    grid-column: 1 / -1; 
    height: 30vw;
    opacity: 0.85;
    position: relative;
  }
  #background-gojo2 {
    background: #E6E6E6; 
    bottom: 130.5vw;
    grid-column: 1 / -1; 
    height: 75vw;
    opacity: 1;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }
  #background-gojo3 {
    background: #E6E6E6; 
    bottom: 216.5vw;
    grid-column: 1 / -1; 
    height: 10.9vw;
    opacity: 0.90;
    position: relative;
  }
  #image-bg-gojo {
    float: right;
    grid-column: 1 / -1; 
    grid-row: 1;
    margin: 24vw 0vw 0vw -30vw;
    padding-right: 10vw;
    overflow: hidden;
    width: 163%;
  }
  #image-gojo {
    grid-column: 2; 
    grid-row: 1;
    margin-top: 7.4vw;
    position: relative;
    overflow: hidden;
    width: 89vw;
    z-index: 2;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 960px) {
  /* Grid */
  .grid-container-gojo {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    margin-bottom: -14vw;
  }
  .grid-container-gojo > div {
    font-family: "Effra_Std_Rg";
  }
  /* Styles */
  h1.title-gojo {
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    font-family: "Effra_Std_Md";
    font-weight: bolder;
    font-size: 2.3vw;
    margin: 14.7vw 0 0 4.6vw;
    z-index: 2;
  }
  p.body-gojo {
    grid-column: 3;
    grid-row: 1;
    font-family: "Effra_Std_Rg";
    font-size: 1.7vw;
    line-height: 1.65;
    margin: 22vw 0 -10vw 4.6vw;
    text-align: left;
    width: 30vw;
  }
  p.subtitle-gojo {
    grid-column: 3;
    grid-row: 1;
    font-family: "Effra_Std_Rg";
    font-size: 1.1vw;
    font-weight: bolder;
    margin: 18.3vw 0 0 4.6vw;
    text-align: left;
    text-transform: uppercase;
  }
  .button-gojo {
    background: #3885CD;
    border: none;
    border-radius: 0.4vw;
    color: white;
    font-family: "Effra_Std_Md";
    font-size: 1.25vw;
    grid-column: 3;
    grid-row: 1;
    height: 4vw;
    margin: 30vw 0 0 4.6vw;
    width: 11.8vw;
  }
  #background-gojo {
    background: #E6E6E6; 
    grid-column: 1 / -1; 
    height: 14vw;
    opacity: 0.85;
    position: relative;
    bottom: 47vw;
  }
  #color-background-gojo {
    background: #E6E6E6; 
    bottom: 47.2vw;
    grid-column: 1 / -1; 
    height: 14.2vw;
    opacity: 0.9;
  }
  #image-bg-gojo {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 16.5vw;
  }
  #image-gojo {
    bottom: -5.5vw;
    grid-column: 2 / -1; 
    grid-row: 1;
    margin: -0.1vw 0 0 -5.7vw;
    position: relative;
    z-index: 2;
    width: 45vw;
  }
}
