/* @font-face {
  font-family: 'Effra';
  src: url('/assets/fonts') format('truetype');
} */

#background-header { 
  width: 100%;
  height: 100%;
}
#logo-cardinal {
  top: 5%;
  width: 12%;
}
.title {
  color: white;
  font-size: 5.5vw;
  line-height: 8vw;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate( -50%, -50%);
  width: 70%;
}

/* MOBILE (xs)  */
@media screen and (max-width: 768px) {
  #background-header {
    float: right;
    margin: 0 -28% -10% 0;
    width: 200%;
  }
  #logo-cardinal {
    left: 30vw;
    position: fixed;
    top: 9vw;
    width: 44vw;
  }
  .title {
    font-size: 7vw;
    line-height: 13vw;
    top: 46vw;
    width: 90%;
  }
}

/* DESKTOP (md) */
@media screen and (min-width: 768px) {
  #logo-cardinal {
    left: 8vw;
    position: absolute;
  }
}
