@font-face {
  /* Main font-family */
  font-family: "Effra_Std_Rg";
  src: url("../assets/fonts/Effra_Std_Rg.ttf");
  
  /* Additional font families */
  font-family: "Effra_Std_Bd";
  src: url("../assets/fonts/Effra_Std_Bd.ttf");
  font-family: "Effra_Std_Lt";
  src: url("../assets/fonts/Effra_Std_Lt.ttf");
  font-family: "Effra_Std_Md";
  src: url("../assets/fonts/Effra_Std_Md.ttf");
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /* Grid */
  .grid-container-header {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 8vw 1fr 8vw;
    overflow: hidden;
  }
  /* Styles */
  .title-header {
    color: white;
    grid-column: 2;
    font-family: "Effra_Std_Rg";
    font-size: 7.5vw;
    line-height: 13.6vw;
    margin: -47vw 0 0 0;
    -webkit-transform:scale(1.03,1);
  }
  #image-header {
    grid-column: 1 / -1;
    margin: 0 0 -10.6vw -81vw;
    width: 212vw;
  }
  #logo-header {
    grid-column: 2;
    margin: -75.7vw 0 0 19.3vw;
    width: 44.3vw;
  }
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  /* Grid */
  .grid-container-header {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-column-gap: 5px;
  }
  /* Styles */
  h1.title-header {
    color: white;
    font-family: "Effra_Std_Rg";
    font-size: 5.8vw;
    line-height: 7.6vw;
    margin: -29.2vw 0 3vw 7vw;
    width: 65vw;
    -webkit-transform:scale(1.03,1); 
  }
  #image-header {
    grid-column: 1 / -1;
    width: 100vw;
  }
  #logo-header {
    margin: -43.3vw 0 0 7.7vw;
    width: 13.8vw;
  }
}
