@font-face {
  font-family: 'Effra';
  src: url('/assets/fonts') format('truetype');
}

#logo {

}

.background-hero {
  position: relative;
  width: 100%;
}

.caption {
  color: white;
  position: absolute;
  float: left;
  top: 45%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
  font-size: 60px;
}

/* MOBILE (< xs)  */
@media screen and (max-width: 768px) {
  #background-hero {
    width: 200%;
    float: right;
    margin: 0 -28% -10% 0;
  }
  .caption {
    position: fixed;
    top: 28%;
    font-size: 24px;
    line-height: 2.2;
    width: 85%;
  }
  #logo {
    width: 50%;
    position: fixed;
    top: 5%;
    left: 25%;
  }
}

/* DESKTOP (sm >) */
@media screen and (min-width: 768px) {
  #background-hero {
    width: 100%;
  }
  .caption {
    position: absolute;
    font-size: 80px;
    line-height: 1.5;
    width: 73%;
  }
  #logo {
    position: absolute;
    float: left;  
    top: 40px;
  }
}
