#background-services {
  background: #EEEEEE;
  height: 20vw;
  margin-top: -0.2vw;
  width: 100%;
}
#img-bi, #img-appdev, #img-ba {
  float: left;
}
.business-intelligence {
  float: left;
  margin-top: 3vw;
  padding-left: 8vw;
}
.business-intelligence-2 {
  float: left;
  margin-top: 3vw;
  padding-left: 1vw;
}
.business-intelligence-3 {
  float: left;
  margin-top: 3vw;
  padding-left: 0.5vw;
}
p {
  margin-left: 3.5vw;
  width: 14vw;
  text-align: left;
}
h3 {
  font-size: 2.1vw;
  margin: 0.3vw;
}
#business-intelligence {
  width: 26vw;
}
#app-development {
  width: 24vw;
}
#business-analysis {
  width: 24vw;
}